.bottom-bar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-top: 1px solid #dddddd;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: white;
  width: 100vw;
  padding: 0 20px;
  align-items: center;
}

.bottom-buttons {
  height: 50px;
  width: 20vw;
  margin-left: 50px !important;
}

.buttons-div {
  margin-left: 17rem;
}

@media (max-width: 1300px) {
  .buttons-div {
    margin-left: 11rem;
  }
}

@media (max-width: 1000px) {
  .buttons-div {
    margin-left: 6rem;
  }
}

@media (max-width: 800px) {
  .bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* box-shadow: 5px 0px 0px 3px #DDDDDD; */
    overflow: hidden;
    border-top: 1px solid #dddddd;
    padding: 0;
  }

  .bottom-buttons {
    margin-left: 10px !important;
    width: auto;
  }

  .buttons-div {
    margin-left: 0;
  }
}
